
html,body{
    margin:0px;   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-14 {font-size: 14px;}
.material-icons.md-24 {font-size: 24px;}



.svgSmall{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.svgProfileIcon{
    height: 25px;
    width: 25px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.svgProfileIconBig{
    height: 45px;
    width: 45px;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.mainContainer{
    display: grid;
    grid-template-columns: 0.4fr 3fr;
    grid-template-rows: 150px;
    height: 100vh;

}

.sidebar{
    display: grid;
    grid-column: 1/2;
    grid-row:1/ 3;
    row-gap: 10px;
    grid-template-rows: 80px 150px 150px;
    justify-content: center;
    align-content: baseline;
 
    background-color: rgb(74, 144, 236);
}

.sidebarTextWithIcons{
    display: grid;
    grid-template-columns: 50px 1fr;
    align-content: center;
    justify-content: center;
}

#sidebarBtnDiv1{
    row-gap: 10px;

}
#sidebarBtnDiv2{
    row-gap: 10px;
    align-content: end;


}

.material-icons.sidebarIcons{
    justify-self: baseline;
}

.sidebarBtn {
    border: none;
    background-color: rgb(74, 144, 236);
    color: white;
    align-self: center;
}
.sidebarDash{
    align-self: center;
    justify-self: center;
}
.sidebarDash > .sidebarTextWithIcons > .material-icons{
    align-self: center;
}
.sidebarDash > .sidebarTextWithIcons > h2{
    color: white;
}

.sidebarBtn:hover{
    background-color: rgb(67, 104, 153);
    border-radius: 10px;
}

.sidebarBtnDiv{
    display: grid;

    align-content: baseline;
    height: 150px;
}


.topInfo{
    display: grid;
    
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2/3;
    height: 150px;   
    justify-items: center;
    align-items: center;
    box-shadow: 0px 5px 5px #5d8de775;
}
.searchContainer{
    display: flex;
}
 #searchId{
    height: 25px;
    width: 350px;
    border-style: none;
    border-radius: 10px;
    background-color: rgba(211, 208, 204, 0.582);
}

.personInfoAlert{
    display:flex;
    align-items: center;
}
.personInfo{
    justify-self: baseline;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.personInfo > #profilePic{
    grid-row:1/3;
    align-self: center;
    justify-self: end;
}
.personInfo > p{
    margin-bottom: auto;
}
.personInfo > #profileName{
    margin-top: auto;
    grid-column: 2/4;
}

.personInfoBtns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.personInfoBtn{
    border-style: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(81, 81, 230);
    height: 25px;
    width: 75px;
}
.personInfoBtn:hover{
    background-color: rgb(37, 37, 248);
    box-shadow: 7px 5px 6px #5590fd75;
}


/****************INFO_CONTAINER*/

.infoContainer{
    display: grid;
    grid-template-columns:  1fr 0.5fr 0.5fr;
    grid-template-rows:  350px  350px;
    grid-column: 2/3;
    background-color: #b6cdf875;
    padding-left: 10px;
    height: 100vh;
    
}

.infoCard{
    display: grid;
    width: 300px;
    height: 150px;
    grid-template-columns: 150px 150px;
    grid-template-rows: 1fr 50px;
    background-color: aliceblue;
    margin: 10px;
    border-radius: 10px;
    align-self: center;
    border-left: 5px solid rgba(222, 184, 135, 0.7);
    border-bottom: 5px solid rgba(222, 184, 135, 0.4);
}
.infoCard > div >h5{
    margin-bottom: 0px;
    margin-left: 5px;
}
.infoCard > div >p{
    margin-top: 0px;
    margin-left: 5px;
    font-size: 12px;
}

.infoCardText{
    text-overflow: ellipsis;
    overflow: hidden;
    grid-column: 1/3;
    
}

.infoCardBtns{
    justify-self: end;
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 5px;
}

.infoCardsContainer{
    display: grid;
    grid-template-columns:  0.5fr 0.5fr ;
    grid-template-rows: auto;
    align-content:  baseline;
    justify-self: center;
  
  
}
.infoCardsContainer >   h4{
    margin-bottom: 0px;
    grid-column: 1/3;
    margin-left: 15px;
}

.annoucementsContainer{
    box-shadow: 0px 5px 5px #5d8de775;
    margin-top: 0px;
    height: 100vh;
    grid-column:2/3;
    
}

.annoucements{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 18vw;
    border-radius: 10px;
    
}
.annoucement{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    width: 18vw;
    
    border-left: 5px solid rgb(221, 222, 135, 0.7);
    border-bottom: 5px solid rgb(221, 222, 135, 0.4);
    border-radius: 12px;
}
.annoucement > h5{
    margin-bottom: 0px;
    
}

.trendingsContainer{
    margin-top: 0px;
    height: 100vh;
    grid-column:3/4;
}

.trending{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    width: 18vw;
    
    border-left: 5px solid rgba(224, 151, 136, 0.7);
    border-bottom: 5px solid rgba(224, 151, 136, 0.4);
    border-radius: 12px;
}
.trending > div > h5{
    margin-bottom: 0px;
}
.trending > div > p{
    margin-top: 0px;
}
.cardHover:hover{
    box-shadow: 10px 5px 5px #b6cdf875;
}